<launch>
  <arg name="cloud"/>
  <node pkg="livox_mapping" type="loam_scanRegistration" name="livox_scan_registration" output="screen">
    <remap from="~input" to="$(arg cloud)"/>
  </node>

  <node pkg="livox_mapping" type="loam_laserMapping" name="livox_laser_mapping" output="screen">
    <remap from="~cloud" to="livox_scan_registration/cloud"/>
    <remap from="~cloud_sharp" to="livox_scan_registration/cloud_sharp"/>
    <remap from="~cloud_flat" to="livox_scan_registration/cloud_flat"/>
    <param name="map_file_path" type="string" value=" " />
    <param name="filter_parameter_corner" type="double" value="0.1" />
    <param name="filter_parameter_surf" type="double" value="0.2" />
  </node>

</launch>
